<%
  var c = (typeof sectionContent !== 'undefined' && sectionContent['banner']) || {};
  var heading = c.heading || '';
  var subtitle = c.subtitle || '';
  var imageUrl = c.imageUrl || '';
  var linkUrl = c.linkUrl || '';
  var linkText = c.linkText || 'Learn More';
%>
<section class="banner-section" <% if (imageUrl) { %>style="background-image: url('<%= imageUrl %>')"<% } %> data-editable-image="imageUrl">
  <div class="banner-overlay">
    <h2 class="banner-heading" data-editable="heading"><%= heading %></h2>
    <p class="banner-subtitle" data-editable="subtitle"><%= subtitle %></p>
    <a href="<%= linkUrl %>" class="banner-link" data-editable="linkText"><%= linkText %></a>
  </div>
</section>
